{% extends 'base.html' %}
{% load static %}
{% load imagekit %}
{% block top %}
    <div class="hero-area height-400 bg-img background-overlay " style="background-image: url({% static 'img/blog-img/bg3.jpg' %});"></div>
{% endblock %}
{% block content %}
    <div class="col-12 col-lg-8">
        <div class="container">

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message.message }}  {# 실제 메세지 내용 #}
                </div>
            {% endfor %}
    {% endif %}


        <div><h5>크롤링으로 포스트를 작성합니다.</h5></div>

        <hr/>
        <form class="mt-3">
          <div class="row">
            <div class="col-lg-3 mt-2">
                {% if categorys %}
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="category_id">
                        {% for category in categorys %}
                            <option value="{{ category.id }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                {% endif %}

            </div>
            <div class="col-lg-7 mt-2">
{#            <input type="text" class="form-control" placeholder="Last name">#}
                <input type="text" class="form-control" name="blog_address" value="{{ blog_address }}" placeholder="모바일 블로그 주소를 입력하세요!">
            </div>
            <div class="col-lg-2 mt-2">
                <input type="submit" class="btn btn-primary" value="크롤링시작!">
            </div>
          </div>
        </form>


    </div>
    </div>
{% endblock %}
